p {
    text-align: center;
    font-size: 1em;
}

h1 {
    font-size: 2.1em;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
    p {
        font-size: 0.9em;
   }

   h1 {
    font-size: 1.8em;
   }
}