@use '../../styles/base';

footer {
    background-color: base.$base-color;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: base.$standard-black;
    font-size: 0.9em;

    .footer-column {
        flex: 1;
        margin: 0 15px;
        text-align: center;
        padding-top: 25px;

        h4 {
            font-size: 1.1em;
            margin-bottom: 10px;
            color: base.$standard-black;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 8px;
        }

        a {
            color: base.$standard-black;
        }
    }
}

footer a:hover {
    text-decoration: underline;
}

.opening, .adress {
    font-size: 0.7em;
    color: rgb(72, 72, 72);
}

