<footer class="footer">

    <div class="footer-column">
        <h4>Snabblänkar:</h4>
        <ul>
            <li><a routerLink="/courses" routerLinkActive="active">Kurslista</a></li>
            <li><a routerLink="/scheme" routerLinkActive="active">Ramschema</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Kontakt</a></li>
            <li><a routerLink="/library" routerLinkActive="active">Bibliotek</a></li>
            <li><a routerLink="/studentunion" routerLinkActive="active">Studentkår</a></li>
            <li><a routerLink="/campus" routerLinkActive="active">Campus</a></li>
            <li><a routerLink="/scholarship" routerLinkActive="active">Stipendier</a></li>

        </ul>
    </div>
    
    <div class="footer-column">
        <h4>Sociala medier:</h4>
        <ul>
            <li><i class="fa-brands fa-instagram"></i> Instagram</li>
            <li><i class="fa-brands fa-facebook"></i> Facebook</li>
            <li><i class="fa-brands fa-youtube"></i> Youtube</li>
            <li><i class="fa-brands fa-tiktok"></i> Tiktok</li>
        </ul>
    </div>
    
    <div class="footer-column">
        <h4>Kontakt:</h4>
        <ul>
            <li><i class="fa-solid fa-envelope"></i><a href="mailto:stjarnklarauni&#64;kontakt.se"> stjarnklarauni&#64;kontakt.se</a>
            </li>
            <li><i class="fa-solid fa-phone"></i><a href="tel:+46(0)121220000"> +46(0)12-122 00 00</a>
                <p class="opening">Måndag-Fredag: 08-16</p>
                <p class="opening">Lördag-Söndag: Stängt</p>
            </li>
            <li>Besöksadress:
                <p class="adress">Stjärngatan 15
                <br>394 66 Stockholm, Sverige</p>
            </li>
        </ul>
    </div>
</footer>
