<h1>Stipendier</h1>
<h2>Sök stipendier och forma din framtid</h2>
<section>
    <p>
        Stjärnklara Universitetet erbjuder ett brett utbud av stipendier för att stödja dig under din studietid. Våra stipendier är utformade för att belöna akademisk excellens, 
        underlätta ekonomiska utmaningar och främja engagemang inom forskning, samhällsarbete och internationella utbyten. Oavsett om du är en ny student eller i slutskedet av din 
        utbildning kan du ansöka om stipendier som passar just din situation. Vi uppmuntrar dig att utforska våra stipendiemöjligheter och ta del av de resurser som kan hjälpa dig 
        att fokusera på dina studier och framtida karriärmål.
    </p>
</section>