<h1>Studera hos oss</h1>
<h2>Bygg ditt personliga ramschema</h2>

<section>
<p>Upptäck vårt breda utbud av kurser och utbildningar på Stjärnklara Universitet. Bläddra igenom de ämnen som intresserar dig och klicka på "lägg till" 
    för att bygga ditt eget ramschema. När du är klar kan du enkelt hitta ditt schema genom att klicka <strong><a href="/scheme">här</a></strong>.<br>
    Skapa din egen väg till framgång hos oss!
</p>
</section>

  <!-- Inputfält för sökning på antingen kursnamn eller kurskod -->
  <input type="text" placeholder="Sök kursnamn eller kurskod" [(ngModel)]="searchText" (input)="filterCourses()" />
  
  <!-- Dropdown för att välja ämne -->
  <select [(ngModel)]="selectedSubject" (change)="filterCourses()">
    <option value="">Välj ämne</option>
    <!-- Loopar igenom alla ämnen och skapar en option för varje -->
    <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
  </select>
  
  <!-- Text över kurslistan som visar antal kurser -->
  <p *ngIf="filteredCourses.length > 0">
    Visar {{ filteredCourses.length }} kurser
</p>

<!-- Tabell för att visa kurserna -->
    <table>
      <thead>
        <tr>
          <!-- Eventbindning, sortering när användaren klickar på rubriken -->
          <th class="sortable" (click)="sortCoursesByCode()">Kurskod</th>
          <th class="sortable" (click)="sortCoursesByName()">Kursnamn</th>
          <th class="sortable" (click)="sortCoursesByPoints()">Poäng</th>
          <th class="sortable" (click)="sortCoursesBySubject()">Ämne</th>
          <th>Kursplan</th> <!-- Länk till kursplan, ej sorteringsbar -->
          <th>Lägg till</th> <!-- För att lägga till kurs till ramschema, ej sorteringsbar -->
        </tr>
      </thead>
      <tbody>

        <!-- Loopa igenom kurslista och visa kurserna -->
        <tr *ngFor="let course of filteredCourses">
         <td>{{ course.courseCode }}</td>
         <td>{{ course.courseName }}</td>
         <td>{{ course.points }}</td>
         <td>{{ course.subject }}</td>
         <td><a [href]="course.syllabus" target="_blank">Kursplan</a></td>
         <td>
          <!-- Knapp för att lägga till kurs till ramschema -->
          <button *ngIf="!addedCourses.get(course.courseCode)" (click)="addToScheme(course)">
            Lägg till
          </button>
          <span *ngIf="addedCourses.get(course.courseCode)">Tillagd</span>
        </td>
        </tr>
     </tbody>
    </table>

