@use '../../styles/base';

section {
  width: 80%;
  margin: 0 auto;
}

h3 {
    font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #9b9b9b; /* Tunt streck mellan varje lista */
  }
  
li {
    margin-bottom: 15px;
    font-size: 1.1em;
}
  
ul li:last-child {
    margin-bottom: 0;
}

a:hover {
    text-decoration: underline;
}

/* Styling för bild med text ovanpå för "hitta till oss" */
.background-image {
    position: relative;
    width: 100%;
    height: 550px;
  }
  
  .background-image img {
    width: 90%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin: 0 auto;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(base.$standard-white, 0.9);
    padding: 20px;
    border-radius: 8px;
  }

  /* MEDIA QUERIES */

/* Tablet */
@media (min-width: 600px) and (max-width: 900px) {
  section {
      width: 100%;
  }

  li {
      margin-bottom: 10px;
  }

  h3 {
      font-size: 1.2em;
  }
  
  h4 {
      font-size: 1.1em;
  }

  .background-image {
    height: 400px;
  }

  .background-image img {
    width: 95%;
  }

  .text-overlay {
    padding: 15px;
    font-size: 0.9em;
  }

}

/* Mobile */
@media (max-width: 599px) {
  section {
      width: 95%; 
      text-align: center;
  
  }

  h3 {
      font-size: 1.3em;
  }

  h4 {
      font-size: 1.1em;
  }

  li {
      font-size: 1.1em; 
      margin-bottom: 8px;
  }

  .background-image {
    height: 300px;
  }

  .background-image img {
    width: 100%;
  }

.text-overlay {
    padding: 10px;
    font-size: 0.9em;
    width: 80%;
  }
}
  