h3 {
    font-size: 1.4em;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #9b9b9b; /* Tunt streck mellan varje lista */
  }
  
li {
    margin-bottom: 15px;
    font-size: 1.1em;
}
  
ul li:last-child {
    margin-bottom: 0;
}

a:hover {
    text-decoration: underline;
}
  