@use '../../styles/base';

h3 {
    font-size: 1.4em;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #9b9b9b; /* Tunt streck mellan varje lista */
  }
  
li {
    margin-bottom: 15px;
    font-size: 1.1em;
}
  
ul li:last-child {
    margin-bottom: 0;
}

a:hover {
    text-decoration: underline;
}

/* Styling för bild med text ovanpå för "hitta till oss" */
.background-image {
    position: relative;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(base.$standard-white, 0.9);
    border-radius: 100%;
    padding: 50px;
    z-index: 1;
  }
  