/* Färgkoder och typsnitt */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$background-color: #e9e9e9;
$base-color: #acc0c6;
$standard-white: #ffffff;
$main-color: rgb(255, 255, 255, 0.8);
$standard-black: #000000;
$nav-color: #DCD7D5;
$add-btn: #007acc;
$error: #d9534f;


$standard-font: "Mukta", sans-serif;
$p-font: "Open Sans", sans-serif;