/* Global styling för webbplatsen */
@use "base";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: base.$background-color;
    font-family: base.$standard-font;
    font-size: 1.2em;
    line-height: 1.8em;
}

main {
    width: 90%;
    max-width: 1200px;
    background-color: base.$main-color;
    padding: 20px;
    margin: 40px auto;
    border-radius: 5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: base.$standard-black;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 2.1em;
}


h2 {
    text-align: center;
    padding: 30px;
    font-size: 1.6em;
}

section {
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    font-size: 0.9em;
    max-width: 120ch;
}

p {
    font-family: base.$p-font;
}

/* MEDIA QUERIES */

/* Tablet */

@media (min-width: 600px) and (max-width: 900px) {
    main {
        padding: 15px;
        margin: 30px auto;
    }

    h1, h2 {
        padding: 20px;
    }

    h1 {
        font-size: 1.9em;
    }

    h2 {
        font-size: 1.5em;
    }

    section {
        padding: 5px;
    }
}

/* Mobile */

@media (max-width: 599px) {
    body {
        font-size: 1.1em;
    }

    main {
        width: 95%;
        padding: 10px;
        margin: 20px auto;
    }

    h1, h2 {
        padding: 15px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.4em;
    }

    section {
        width: 100%;
        padding: 5px;
    }
}
