<h1>Studentkåren</h1>
<h2>Engagera dig i studentkåren - din röst på univeristetet</h2>
<section>
    <p>
        Studentkåren vid Stjärnklara Universitetet är en central del av studentlivet och din chans att påverka din studietid. Kåren arbetar aktivt för att förbättra studenternas utbildning, 
        trivsel och rättigheter, och är en viktig kanal för studentinflytande. Genom att bli medlem i studentkåren får du möjlighet att delta i spännande evenemang, möta nya vänner och bidra 
        till att skapa en ännu bättre studiemiljö. Oavsett om du vill engagera dig i studentpolitik, arrangera sociala aktiviteter eller bara delta i kårens aktiviteter finns det något för alla. 
        Tillsammans gör vi universitetet till en bättre plats för alla studenter!
    </p>

<img src="assets/images/universitet3.jpg" alt="bild på bibliotek">

</section>