<h1>Stjärnklara Campus</h1>
<h2>Upptäck vårt levande campus</h2>
<section>
    <p>
        Stjärnklara Universitet har ett levande och inbjudande campus mitt i hjärtat av Stockholm. Här på vårt enda campus erbjuder vi moderna och inspirerande 
        studiemiljöer där kreativitet och kunskap får blomstra. Med toppmoderna faciliteter, bekväma studieutrymmen och ett rikt utbud av fritidsaktiviteter finns 
        allt du behöver för att få en givande studentupplevelse. På campus hittar du även mysiga caféer, restauranger, ett gym och gröna parker för avkoppling 
        mellan föreläsningarna. Campus är inte bara en plats för studier - det är en levande mötesplats där studenter och lärare samlas för att samarbeta, dela idéer och skapa oförglömliga minnen. 
    </p>

</section>

<div class="images-container">
<img [src]="campusImage1" alt="gym på campus">
<img [src]="campusImage2" alt="bild utanför campus">
</div>
