/* BAKGRUNDSBILD */

/* Fixerad position för bakgrundsbilden över hela fönstret */
.background-picture {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden; /* Förhindrar att bilden "läcker ut" */
}

/* Anpassa bildens storlek och position */
#background-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* täcker hela området utan att bli beskuren */
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(40%); /* Minskar ljusstyrkan */
}