@use '../../styles/base';

nav ul {
    list-style: none;
    padding: 10px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

nav ul li {
    margin-right: 40px;
    background-color: #ffef9b;
    padding: 0 15px;
    border-radius: 2px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    font-size: 0.9em;
    transition: transform 0.3s ease, color 0.3s ease; 
    display: inline-block;
}

nav ul li a:hover {
    transform: scale(1.1);
}

.active {
    text-decoration: underline;
}

/* MEDIA QUERIES */

/* Tablet */
@media (min-width: 600px) and (max-width: 900px) {
    nav ul {
        justify-content: space-evenly;
    }

    nav ul li {
        margin-right: 20px;
        padding: 0 10px;
    }
}

/* Mobile */
@media (max-width: 599px) {
    nav ul {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto auto auto;
        justify-items: center;
        gap: 10px;
        font-size: 1em;
        padding: 0 10px;
    }

    /* Startsidan tar upp en hel rad */
    nav ul li:nth-child(1) {
        grid-column: span 2;
        width: 90%;
    }

    /* Utbildning och Ramschema på rad två */
    nav ul li:nth-child(2),
    nav ul li:nth-child(3) {
        grid-column: span 1;
        width: 80%;
    }

    /* Kontakt och Anmälan på rad tre */
    nav ul li:nth-child(4),
    nav ul li:nth-child(5) {
        grid-column: span 1;
        width: 80%;
    }

    nav ul li {
        margin-right: 0;
        text-align: center;
    }
}
