<h1>Anmälan</h1>
<h2>Anmälan till våra utbildningar</h2>
<section>
    <p>
        Du anmäler dig till våra utbildningar via antagning.se. Där kan du följa din ansökan, se till att dina meriter har registrerats, 
        och logga in för att svara på ditt antagningsbesked.  
    </p><br>

    <!--Knapp som länkas till antagning.se för anmälan -->
    <a href="https://www.antagning.se/se/start" target="_blank">
        <button id="apply">Anmäl dig till våra utbildningar <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
    </a>
    
</section>
<h2>Viktiga datum:</h2>
<section>
<h3>Höstterminen 2024</h3>
<ul>
  <li>Första anmälningsdag: 10 mars 2024</li>
  <li>Sista anmälningsdag: 20 april 2024</li>
  <li>Sista kompletteringsdag: 25 juni 2024*</li>
  <li>Antagningsbesked 1: 15 juli 2024</li>
  <li>Sista svarsdag: 22 juli 2024</li>
  <li>Antagningsbesked 2: 29 juli 2024</li>
  <li>Sista svarsdag: Inget svar krävs efter antagningsbesked 2</li>
</ul>

<h4>Terminstider</h4>
<ul>
  <li>Terminsstart: 4 september 2024</li>
  <li>Terminsavslutning: 22 januari 2025</li>
</ul>

<h3>Vårterminen 2025</h3>
<ul>
  <li>Första anmälningsdag: 18 september 2024</li>
  <li>Sista anmälningsdag: 12 oktober 2024</li>
  <li>Sista kompletteringsdag: 1 december 2024</li>
  <li>Antagningsbesked 1: 12 december 2024</li>
  <li>Sista svarsdag: 18 december 2024</li>
  <li>Antagningsbesked 2: 21 december 2024</li>
  <li>Sista svarsdag: Inget svar krävs efter antagningsbesked 2</li>
</ul>

<h4>Terminstider</h4>
<ul>
  <li>Terminsstart: 22 januari 2025</li>
  <li>Terminsavslutning: 10 juni 2025</li>
</ul>
</section>